body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: slateblue;
  letter-spacing: 0.15rem;
}

.calendar-container {
  background-color: aliceblue;
  width: 60vw;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 08px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.month-name {
  margin: 0;
  background-color: orangered;
  padding: 10px;
  color: azure;
  font-size: 2rem;
}

.day-name {
  font-size: 1.5rem;
  color: slateblue;
}
.day-number {
  font-size: 5rem;
  margin: 0;
}
.year {
  margin: 20px 0;
  font-size: 1.5rem;
  color: slateblue;
}
